In [1]:
import pandas as pd

# Sample dataset with qualitative and quantitative data types
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Gender': ['Female', 'Male', 'Male', 'Male'],
    'Education Level': ['Bachelor', 'Master', 'PhD', 'Bachelor'],
    'Age': [25, 30, 45, 22],
    'Height (cm)': [160.5, 175.2, 168.0, 180.3],
    'Married': ['No', 'Yes', 'Yes', 'No'],
}

df = pd.DataFrame(data)
df

      Name  Gender Education Level  Age  Height (cm) Married
0    Alice  Female        Bachelor   25        160.5      No
1      Bob    Male          Master   30        175.2     Yes
2  Charlie    Male             PhD   45        168.0     Yes
3    David    Male        Bachelor   22        180.3      No

### Data Types Classification

We classify the data into **qualitative** and **quantitative** as follows:

| Column           | Type                    | Explanation                                     |
|------------------|--------------------------|-------------------------------------------------|
| Name             | Qualitative - Nominal    | Just labels (names)                             |
| Gender           | Qualitative - Nominal    | Categories with no order                        |
| Education Level  | Qualitative - Ordinal    | Ordered categories (Bachelor < Master < PhD)   |
| Age              | Quantitative - Discrete  | Countable integers                              |
| Height (cm)      | Quantitative - Continuous| Measurable, can include decimals                |
| Married          | Qualitative - Nominal    | Binary category (Yes/No)                        |

In [2]:
column_types = {
    'Name': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Education Level': 'Qualitative - Ordinal',
    'Age': 'Quantitative - Discrete',
    'Height (cm)': 'Quantitative - Continuous',
    'Married': 'Qualitative - Nominal',
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Name: Qualitative - Nominal
Gender: Qualitative - Nominal
Education Level: Qualitative - Ordinal
Age: Quantitative - Discrete
Height (cm): Quantitative - Continuous
Married: Qualitative - Nominal

In [3]:
# Pandas inferred data types
df.dtypes

Name                object
Gender              object
Education Level     object
Age                  int64
Height (cm)        float64
Married             object
dtype: object