In [1]:
import pandas as pd

# Sample dataset with qualitative and quantitative data types
data = {
    'Student': ['A', 'B', 'C', 'D','E'],
    'Gender': ['Male', 'Female', 'Male', 'Female','Male'],
    'Stream': ['Science', 'Commerce', 'Arts', 'Science', 'Commerce'],
    'Attendance': [85, 92, 75, 88, 60],
    'Study Hours/Week': [10, 14, 7, 11,6],
    'Grade': ['B', 'A', 'C', 'B' , 'D'],
    'Hostel Resident': ['Yes', 'No', 'Yes', 'No', 'Yes']
}

df = pd.DataFrame(data)
df

,Student,Gender,Stream,Attendance,Study Hours/Week,Grade,Hostel Resident
0,A,Male,Science,85,10,B,Yes
1,B,Female,Commerce,92,14,A,No
2,C,Male,Arts,75,7,C,Yes
3,D,Female,Science,88,11,B,No
4,E,Male,Commerce,60,6,D,Yes

In [2]:
column_types = {
    'Student': 'Qualitative - Nominal',
    'Gender': 'Qualitative - Nominal',
    'Stream': 'Qualitative - Nominal',
    'Attendance': 'Quantitative - Continuous',
    'Study Hours/Week': 'Quantitative - Discrete',
    'Grade': 'Qualitative - Ordinal',
    'Hostel Resident': 'Qualitative - Nominal'
}

for col, dtype in column_types.items():
    print(f"{col}: {dtype}")

Student: Qualitative - Nominal
Gender: Qualitative - Nominal
Stream: Qualitative - Nominal
Attendance: Quantitative - Continuous
Study Hours/Week: Quantitative - Discrete
Grade: Qualitative - Ordinal
Hostel Resident: Qualitative - Nominal

In [3]:
# Pandas inferred data types
df.dtypes

Student             object
Gender              object
Stream              object
Attendance           int64
Study Hours/Week     int64
Grade               object
Hostel Resident     object
dtype: object